<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img src="../../../assets/inicio/cementerio.jpeg" alt="">
    <ion-button class="top-20" expand="block" (click)="ReDireccionar()">Juego Uno</ion-button>
    <ion-button expand="block">Juego Dos</ion-button>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon> Orquesta de Curacavi</ion-title>
  </ion-toolbar>
</ion-footer>
